@page "/Home"
@rendermode InteractiveServer
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager navManager

<h3>Bine ai venit!</h3>

@code {
    private bool isLoaded = false;
    private bool isLoggedIn = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                if (await LocalStorage.ContainKeyAsync("isLoggedIn"))
                {
                    isLoggedIn = await LocalStorage.GetItemAsync<bool>("isLoggedIn");
                }

                isLoaded = true;
                StateHasChanged();
            }
            catch (InvalidOperationException)
            {
                Console.WriteLine("LocalStorage indisponibil înainte de hidratare.");
            }
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (isLoaded && !isLoggedIn)
        {
            navManager.NavigateTo("/Login", forceLoad: true);
        }
    }
}