@page "/"

<PageTitle>JobAI - Home</PageTitle>

<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50 p-10">
    <!-- Hero Section -->
    <section class="text-center max-w-2xl">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">
            Găsește jobul potrivit cu <span class="text-blue-600">JobAI</span>
        </h1>
    </section>
    
</div>