@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <a href=@($"/ShowProfile/{userId}") class="nav-link" target="_blank" Match="NavLinkMatch.All" >@userEmail</a>
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string userId;
    private string userEmail;
    private bool hasRendered;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userId = await LocalStorage.GetItemAsync<string>("userId");
            userEmail = await LocalStorage.GetItemAsync<string>("userEmail");
            hasRendered = true;
            StateHasChanged(); // Trigger re-render with the loaded data
        }
    }
}